# Logs
logs
*.log
npm-debug.log*
yarn-error.log*

#Runtime Data
pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

.grunt

bower_components

.lock_wscript

build/Release

node_modules/
jspm_packages/

typings/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env
.env.*.local

.next